@import "tailwindcss";

@theme {
    --font-nightwatch: 'The Night Watch', serif;
    --font-satoshi: 'Satoshi', sans-serif;
}

:root {
    --theme-bg: #2c2c2c;
    --theme-fg: #b83a2d;
}

@layer base {
    body {
        background-color: var(--theme-bg);
        position: relative;
        overflow-x: hidden;
        font-family: "Inconsolata", serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: var(--theme-fg);
    }

    body::before {
        content: "";
        position: fixed;
        inset: -50%;
        width: 200%;
        height: 200%;
        pointer-events: none;
        opacity: 0.15;
        /* ajusta según lo que definiste */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
        animation: grain-shift 9s steps(6) infinite;
        z-index: 9999;
    }

    @font-face {
        font-family: 'The Night Watch';
        src: url('/fonts/biggerdisplay.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @keyframes grain-shift {

        0%,
        100% {
            transform: translate(0, 0);
        }

        10% {
            transform: translate(-2%, -3%);
        }

        20% {
            transform: translate(-4%, 2%);
        }

        30% {
            transform: translate(2%, -4%);
        }

        40% {
            transform: translate(-2%, 5%);
        }

        50% {
            transform: translate(-4%, 2%);
        }

        60% {
            transform: translate(3%, 0);
        }

        70% {
            transform: translate(0, 3%);
        }

        80% {
            transform: translate(-3%, 0);
        }

        90% {
            transform: translate(2%, 2%);
        }
    }
}