@import "tailwindcss";

@theme {
    --font-satoshi: 'Satoshi', sans-serif;
}

:root {
    --theme-bg: #2c2c2c;
    --theme-fg: #b83a2d;
}

@layer base {
    body {
        background-color: var(--theme-bg);
        position: relative;
        overflow-x: hidden;
        font-family: var(--font-satoshi);
        font-optical-sizing: auto;
        font-style: normal;
        color: var(--theme-fg);
    }

    body::before {
        content: "";
        position: fixed;
        inset: -50%;
        width: 200%;
        height: 200%;
        pointer-events: none;
        opacity: 0.15;
        /* ajusta según lo que definiste */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
        animation: grain-shift 9s steps(6) infinite;
        z-index: 9999;
    }

    @keyframes grain-shift {

        0%,
        100% {
            transform: translate(0, 0);
        }

        10% {
            transform: translate(-2%, -3%);
        }

        20% {
            transform: translate(-4%, 2%);
        }

        30% {
            transform: translate(2%, -4%);
        }

        40% {
            transform: translate(-2%, 5%);
        }

        50% {
            transform: translate(-4%, 2%);
        }

        60% {
            transform: translate(3%, 0);
        }

        70% {
            transform: translate(0, 3%);
        }

        80% {
            transform: translate(-3%, 0);
        }

        90% {
            transform: translate(2%, 2%);
        }
    }
}

@keyframes page-rise-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2;
    animation: page-rise-in 0.9s cubic-bezier(0.76, 0, 0.24, 1) both;
}